body{
font-family:Arial,sans-serif;
background-color:#fff;
margin:200px;
}
 form{
width:200px;
box-shadow:0 2px 3px rgb(0,2,213,2.3);
background-color:#fac232;
margin:auto;
}
input[type='number']{
padding:20px;

}input[type='submit']{

background-color:green;


}